#container{
    height: auto;
    width: auto;
    background-color: cyan;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#container div{
    height: 200px;
    width: 200px;
} 

#div1{
    background-color: red;
}

#div2{
    background-color: green;
}

#div3{
    background-color: blue;
    order: 1;
}

#div4{
    background-color: blueviolet;
}