.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
}

.yellow-box {
    background-color: yellow;
    padding: 10px;
}

.red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
    margin: -15px;
}

.blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
    margin: 13px -12px -13px -13px;
    border: 3px solid black;
   
}